data/datasets
src/wandb/
src/*.pyc
src/.idea
src/scribble*
venv/
results/
models/
demo_results/
auxiliary/
__pycache__
src/demo_debd.py
src/demo_mnist.py
src/eval_svhn_mixture.py
src/train_svhn_mixture.py
src/cll_experiment.txt
**/models/
src/baseline_experiments_mlp.sh
src/cll_experiments_mlp.sh
src/baseline_experiments_eddie.sh
src/experiments_eddie.sh
src/cll_experiments_eddie.sh
src/experiment.txt
wandb
src/full_conditional_training.py
src/full_conditional_training.sh
config_ssh.sh
src/mle_finetuning.sh
src/curriculum_training.sh
data/
.DS_Store
